apiVersion: v1
kind: Secret
metadata:
  name: vault-secrets
  namespace: vault-central
type: Opaque
stringData:
  vault-secrets.sh: |
    #!/bin/bash
    VAULT_UNSEAL_KEYS=""
{% for key in vault_init_object.unseal_keys_b64[: vault_init_object.unseal_threshold | int] %}
    VAULT_UNSEAL_KEYS="{{ key }} $VAULT_UNSEAL_KEYS"
{% endfor %}
    export VAULT_UNSEAL_KEYS
